.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
/* Action figures can be found in toy stores, hobby shops, and online marketplaces. There are also specialized conventions and events dedicated to action figures and collectibles, where enthusiasts can buy, trade, and connect with fellow fans. */